@import 'abstracts/variables';

@import 'components/navbar';
@import 'components/button';
@import 'components/resume-item';
@import 'components/skill-card';

@import 'layout/site-hero';
@import 'layout/site-sections';
@import 'layout/footer';
@import 'layout/icon-bar';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: rgba(255, 255, 255, 0.4);
  background: $color-background-light;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
  font-weight: 300;
  box-sizing: border-box;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-weight: 200;
}

h2 {
  font-size: 2.5rem;
}

a {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #4682b4;
}
a:focus,
a:active {
  color: #0f70bf;
  text-decoration: none;
}

// White card

.white-card {
  background-color: $color-background-light;
  color: $color-text-dark;
}

.white-card h3 {
  color: #4682b4;
}
