//Resume Item

.resume-item {
  padding: 3rem;
  background: #333;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border: 0.4rem solid transparent;
  border-radius: 0.7rem;
}

#section-projects .resume-item {
  min-height: 35rem;
}

.resume-item .date {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
}

.resume-item h3 {
  color: #4682b4;
  font-size: 2rem;
}

.resume-item *:last-child {
  margin-bottom: 0;
}

.resume-item .img-fluid {
  height: 30rem;
  width: 52.5rem;
}
